In [2]:
import pandas as pd
import numpy as np

In [2]:
43,362

(43, 362)

In [3]:
node_=pd.read_csv("bp.csv")

In [4]:
node_.head()

   Unnamed: 0   functions
0           0  GO:0007626
1           1  GO:0007611
2           2  GO:0044708
3           3  GO:0007610
4           4  GO:0007268

In [5]:
geo_node={}
for ix in range(len(node_["functions"])):
    gj=node_["functions"][ix].strip("GO:")
    geo_node[int(node_.iloc[ix,0])]=int(gj)
    #print int(gj)

In [6]:
#geo_node  it contains key poistion values as Geo_term

In [7]:
f=open("DFS_number_1.txt","r") ### this file contains Geo function and node no
file_read=f.readlines()
dfs_no=[]
for ix in range(len(file_read)):
    bb=[]
    B=file_read[ix].strip("\r\n")
    ll=B.split(" ")
    bb.append(int(ll[0]))
    bb.append(int(ll[2]))
    dfs_no.append(bb)

In [8]:
dfs_no=np.array(dfs_no)

In [9]:
d={}    ### copy the node no crossponding geo function
for ix in geo_node.values():
    for ixx in range(dfs_no.shape[0]):
        if ix==dfs_no[ixx,0]:
            d[ix]=dfs_no[ixx,1]

In [10]:
len(d)

930

In [11]:
for ix in geo_node.values():
    if ix not in dfs_no[:,0]:
        print ix

16568
1903308

In [12]:
# data frame which contains ,function node no and associated word
data_word=pd.DataFrame(columns=["function","node_no","word"])

In [13]:
data_word

Empty DataFrame
Columns: [function, node_no, word]
Index: []

In [14]:
data_word["function"]=d.keys()
data_word["node_no"]=d.values()

In [15]:
data_word.head()

   function  node_no word
0         3        3  NaN
1     32774     2308  NaN
2      8202     4163  NaN
3     32787     4958  NaN
4     51222    15701  NaN

In [16]:
data_word.shape

(930, 3)

In [17]:
albha=["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]

In [18]:
cnt=1
dic_word={}
for i in albha:
    for j in albha:
        for k in albha:
            for l in albha:
                dic_word[cnt]=i+j+k+l
                cnt=cnt+1

In [19]:
#dic_word

In [20]:
BB={}
for ix in range(data_word.shape[0]):
    data_word.iloc[ix,2]=dic_word[data_word.iloc[ix,1]]
    BB[data_word.iloc[ix,0]]=dic_word[data_word.iloc[ix,1]]

In [21]:
data_word.head()

   function  node_no  word
0         3        3  AAAC
1     32774     2308  ADKT
2      8202     4163  AGEC
3     32787     4958  AHIR
4     51222    15701  AXFW

In [22]:
print(len(BB))

930

In [31]:
train_data=pd.read_csv("train-bp.csv")

In [32]:
train_data.head()

,0,0.1,1,2,3,4,5,6,7,8,...,922,923,924,925,926,927,928,929,930,931
0,MNFLWKGRRFLIAGILPTFEGAADEIVDKENKTYKAFLASKPPEET...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,MENEREKQVYLAKLSEQTERYDEMVEAMKKVAQLDVELTVEERNLV...,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
2,MATPGASSARDEFVYMAKLAEQAERYEEMVEFMEKVAKAVDKDELT...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,MSDTVEELVQRAKLAEQAERYDDMAAAMKKVTEQGQELSNEERNLL...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MASAELSREENVYMAKLAEQAERYEEMVEFMEKVAKTVDSEELTVE...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
train_fresh_data=train_data.drop(columns=["43","362"])

In [26]:
train_fresh_data.shape

(36380, 931)

In [27]:
df_train=train_fresh_data.values
df_train=df_train[:,1:].astype("int")

In [28]:
df_train.shape

(36380, 930)

In [33]:
move=[43,362]

In [38]:
text=[]
for ix in range(df_train.shape[0]):
    temp=[]
    row=list(df_train[ix])
    for ixx in range(len(row)):
        if ixx not in move and row[ixx]==1:
            temp.append(BB[geo_node[ixx]])
    text.append(" ".join(temp))

In [48]:
df_train=train_fresh_data.values
D_seq=list(df_train[:,0])

In [50]:
DD_word=pd.DataFrame(columns=["Prolang","Geolang"])

In [51]:
DD_word["Prolang"]=D_seq
DD_word["Geolang"]=text

In [52]:
DD_word.to_csv("pro_and_Geo_lang.csv",index=False)

In [54]:
#pd.read_csv("pro_and_Geo_lang.csv")

In [55]:
dd=pd.read_csv("new_file.csv")

In [57]:
dk=dd[["0"]]

In [59]:
dk["Geo_language"]=text

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
#dk.to_csv("new_pro_geo_language",index=False)

In [3]:
pd.read_csv("new_pro_geo_language")

,0,Geo_language
0,"['MNF', 'LWK', 'GRR', 'FLI', 'AGIL', 'PTF', 'E...",AMLL AMOH AFJU AFLI AEYW AENH AEGT
1,"['MEN', 'EREK', 'QVY', 'LAKL', 'SEQ', 'TER', '...",AZHN AZBT AZUC AWST AWTU AROP ARIG ARKO AQVR A...
2,"['MAT', 'PGAS', 'SAR', 'DEF', 'VYM', 'AKLA', '...",AWJB AWST AWTU
3,"['MSD', 'TVEE', 'LVQ', 'RAKL', 'AEQ', 'AER', '...",BPFK BPEP BOXG BPGG BOYY BOZD BPRR BRHZ BRJO B...
4,"['MAS', 'AELS', 'REE', 'NVY', 'MAK', 'LAEQ', '...",AWGJ AZWC AWJB AWST AWTU
5,"['MAS', 'GRE', 'EFV', 'YMA', 'KLAE', 'QAE', 'R...",AZHN AZBT AZUC AWST AWTU
6,"['MSD', 'GKE', 'ELV', 'NRA', 'KLAE', 'QAE', 'R...",BMDQ AYLY AWQM AWQN AWQA AWQD AWQE AWQX BGMO A...
7,"['MAS', 'AELS', 'REE', 'NVY', 'MAK', 'LAEQ', '...",AWGJ AZWC AWJB AWST AWTU
8,"['MST', 'REE', 'NVY', 'MAK', 'LAEQ', 'AER', 'Y...",AWJB AWST AWTU ALEU AJQT ARYD ARVC ARVE AFLI A...
9,"['MSS', 'DSS', 'REE', 'NVY', 'LAKL', 'AEQ', 'A...",ARNW AQUF AQZN ARAT AQTT
10,"['MAT', 'TLSR', 'DQY', 'VYM', 'AKLA', 'EQA', '...",AWJB AWST AWTU
11,"['MTM', 'DKS', 'ELVQ', 'KAKL', 'AEQ', 'AER', '...",BRCL BREY BPHX BOXG BOZD BPRR BRHZ BNOD BNOA B...
12,"['MTM', 'DKS', 'ELVQ', 'KAKL', 'AEQ', 'AER', '...",AUOG ATAL ASXZ AVEW AFLI ATKM ATKO ATDV ATFA A...
13,"['MTM', 'DKS', 'ELVQ', 'KAKL', 'AEQ', 'AER', '...",BQIN BQKE BQEG BPNA BQLU BQDF BPRR BRHZ BNXS B...
14,"['MTE', 'REN', 'NVY', 'KAKL', 'AEQ', 'AER', 'Y...",AWVT BBNB BBNQ BBPI BBPU AWVO BBLY BBIO BBIS B...
15,"['MDD', 'REDL', 'VYQ', 'AKLA', 'EQA', 'ERY', '...",AFJQ AEEU BRCL BREY BPHX BOXG BOZD BPRR BRHZ A...
16,"['MDD', 'REDL', 'VYQ', 'AKLA', 'EQA', 'ERY', '...",BCVR BCXF BCXQ AXHT BCQW BCQZ BDGX AXJV BAPE B...
17,"['MDD', 'REDL', 'VYQ', 'AKLA', 'EQA', 'ERY', '...",AZBT AZUC AWST AWTU
18,"['MGD', 'REQL', 'LQRA', 'RLAE', 'QAE', 'RYD', ...",BRCL BREY BPHX BOXG BOZD BPRR BRHZ BOLX BNGV B...
19,"['MGD', 'REQL', 'LQRA', 'RLAE', 'QAE', 'RYD', ...",AWFN BDWO BJOI AYGQ BIKP BDLY BIHG BIHX BIIC B...
20,"['MVD', 'REQL', 'VQK', 'ARLA', 'EQA', 'ERY', '...",BRCL BREY BPHX BOXG BOZD BPRR BRHZ BMDQ BBFK A...
21,"['MVD', 'REQL', 'VQK', 'ARLA', 'EQA', 'ERY', '...",AUOG ATAL ASXZ AVEW AFLI ATKM ATKO ATDV ATFA A...
22,"['MVD', 'REQL', 'VQK', 'ARLA', 'EQA', 'ERY', '...",AZBT AZUC AWST AWTU ARZL ASGG ASCU ASEJ ARZZ A...
23,"['MER', 'ASLI', 'QKA', 'KLAE', 'QAE', 'RYE', '...",BRCL BREY BPHX BOXG BOZD BPRR BRHZ AQFU BNRS B...
24,"['MER', 'ASLI', 'QKA', 'KLAE', 'QAE', 'RYE', '...",BNYM BNYQ BNYW BNZB BNOA BOSN BMLY BMQG BNEH B...
25,"['MEK', 'TEL', 'IQK', 'AKLA', 'EQA', 'ERY', 'D...",BRCL BREY BPHX BOXG BOZD BPRR BRHZ BMDQ BDEL B...
26,"['MEK', 'TEL', 'IQK', 'AKLA', 'EQA', 'ERY', 'D...",AYXP AZBT AZUC AWST AWTU AUOG ATAL ASXZ AVEW A...
27,"['MEK', 'TEL', 'IQK', 'AKLA', 'EQA', 'ERY', 'D...",BFDR AWMK AZUB AZUC BGUI AXQM AWLT AWLW AWKJ A...
28,"['MST', 'VDK', 'EELV', 'QKA', 'KLAE', 'QSE', '...",AGCC AGDY AAFT BKZJ BMDQ AWVT BBNB BBNQ BBPI B...
29,"['MDK', 'NEL', 'VQK', 'AKLA', 'EQA', 'ERY', 'D...",BPNA BRCL BREY BPHX BOXG BOZD BPRR BRHZ BMDQ A...
...,...,...
36350,"['MKT', 'WLK', 'TVF', 'GVT', 'TLAA', 'LALV', '...",BAZF BBIC BBIF BBGG BFKU BEVZ AWYB AWLK BCJH B...
36351,"['MAD', 'TKG', 'FSS', 'IET', 'PGY', 'VGF', 'AN...",BAZF BBIC BBIF BEVZ AWYB BDOZ BDPI AZTX AZUC A...
36352,"['MDK', 'EYV', 'GFA', 'ALP', 'NQL', 'HRK', 'SV...",BQKE BQEG BPMD BPNA BQLU BQDF BPFK BPEP BOXG B...
36353,"['MSV', 'EVD', 'FVD', 'KKE', 'VHL', 'RTL', 'KQ...",BAQD AZVB AWIN AWIE AWJB BFFT AZUC AWST AWTU A...
36354,"['MSK', 'QQP', 'TQF', 'INP', 'ETP', 'GYV', 'GF...",BPNM BPIQ BQHY BQKE BQEC BQEG BPMD BPNA BPPM B...
36355,"['MSK', 'QQP', 'TQF', 'INP', 'ETP', 'GYV', 'GF...",BPPM BPRR BRHZ ARVE AFLI AAWQ
36356,"['MDR', 'SLG', 'WQG', 'NSV', 'PED', 'RTE', 'AG...",BBNQ BBPI BBPU AWVO BCAQ AWXB AZWU BAHE BAPE B...
36357,"['MDH', 'SLG', 'WQG', 'NSV', 'PED', 'GTE', 'AG...",BPHX BOZD BPRR BRHZ AORC APAB APHP APMA AMOH A...
36358,"['MST', 'GLR', 'YKS', 'KLA', 'TPE', 'DKQ', 'DI...",BMDQ AYGL AXKC AWQA AWQD BGKH BGMO AZJS BAVM A...
36359,"['MST', 'GLR', 'YKS', 'KLA', 'TPE', 'DKQ', 'DI...",AXAM BGMK AXCC BEVZ AWYB BGKH BGMO BAVM AZUC A...
36360,"['MAA', 'TDI', 'ARQ', 'VGE', 'GCR', 'TVP', 'LA...",AAUU ARVE AFLI AAWQ
36361,"['MSV', 'SARS', 'AAAE', 'ERS', 'VNS', 'STM', '...",BQIN BQKE BQEG BPNA BQLU BQDF BPRR BRHZ BCGI B...
36362,"['MSV', 'SARS', 'AAAE', 'ERS', 'VNC', 'GTM', '...",BPUR BPUT BPPM BPUV BPUW BPEP BOZD BPRR BRHZ A...
36363,"['MVA', 'QQK', 'NLE', 'GYV', 'GFA', 'NLP', 'NQ...",BPUT BPPM BPUV BPUW BPRR BRHZ BMDQ BDWO BJOI B...
36364,"['MKK', 'SYS', 'GGT', 'RTSS', 'GRLR', 'RLG', '...",BQIN BQKE BQEG BPNA BQLU BQDF BPRR BRHZ BCGI B...
36365,"['MKT', 'IEV', 'DDEL', 'YSY', 'IAS', 'HTK', 'H...",BQIF BQIN BQKE BQEG BPNA BQLU BQDF BOVG BOXG B...
36366,"['MFR', 'NYT', 'DSV', 'QEM', 'VLRA', 'IDS', 'I...",AZCL AZBT AZUC AWST AWTU
36367,"['MSY', 'SAAD', 'NLQ', 'DSF', 'QRA', 'MNF', 'S...",AKHN AHQH AHNO AHNP AHQI AGYD AHIR AHJZ AIBR A...
36368,"['MKS', 'TRK', 'VVGI', 'FLA', 'TCL', 'LPF', 'T...",BCAQ AWXB AZVB AWJB AXYA AXYH AXWD AXXF AYNH A...
36369,"['MSA', 'TAAA', 'SSSI', 'AVAT', 'NSL', 'RNV', ...",ANDQ AMLL AMOH AFJT AFJU AFLI AEYW AEVJ AENH A...
36370,"['MAK', 'VSLE', 'KDK', 'IKF', 'LLVE', 'GVH', '...",AKHN AHQH AHNO AHNP AHQI AGYD AHIR AHJZ AIBR A...
36371,"['MAF', 'ANL', 'RKVL', 'ISDS', 'LDP', 'CCR', '...",AKHN AHQH AHNO AHNP AHQI AGYD AHIR AHJZ AIBR A...
36372,"['MAF', 'ANL', 'RKVL', 'ISDS', 'LDP', 'CCR', '...",BPPM BPRR BRHZ AWGJ AZWC AWJB AWST AWTU AHQI A...
36373,"['MSL', 'PVVL', 'IAD', 'KLA', 'PST', 'VAAL', '...",AKHN AHQH AHNO AHNP AHQI AGYD AHIR AHJZ AIBR A...
36374,"['MKS', 'YIS', 'LFF', 'ILC', 'VIF', 'NKN', 'VI...",AXYV AYDK BJBP AWST AWTU AAIA AANL AAKY AAMG A...
36375,"['MAF', 'ANL', 'RKIL', 'ISDS', 'LDP', 'CCR', '...",AKHN AHQH AHNO AHNP AHQI AGYD AHIR AHJZ AIBR A...
36376,"['MTS', 'IDI', 'NNL', 'QNT', 'FQQ', 'AMN', 'MS...",AKHN AHQH AHNO AHNP AHQI AGYD AHIR AHJZ AIBR A...
36377,"['MAA', 'TTN', 'SFLV', 'GSN', 'NTQ', 'IPAL', '...",AKHN AHQH AHNO AHNP AHQI AGYD AHIR AHJZ AIBR A...
36378,"['MAAS', 'TNS', 'FLI', 'GNQ', 'TQI', 'PSLK', '...",ARNW AQUF AQZN ARAT AQTT
36379,"['MPA', 'KVS', 'VLI', 'TVT', 'GMD', 'QPG', 'VT...",ABPZ ABQG ABNC ABHT AAZP ABAS ABBE AAWQ AAKW A...